<ul class="sidebar-menu" data-widget="tree">
<!-- Optionally, you can add icons to the links -->
<li class="active"><a href="#"><i class="fa fa-link"></i> <span>Dashboard</span></a></li>
<li><a href="#"><i class="fa fa-link"></i> <span>Configure</span></a></li>
<li><a href="#"><i class="fa fa-link"></i> <span>Reports</span></a></li>
<li><a href="#"><i class="fa fa-link"></i> <span>Help Desk</span></a></li>
<li class="treeview">
    <a href="#"><i class="fa fa-link"></i> <span>Monitor</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
    <li><a href="#">Link in level 2</a></li>
    <li><a href="#">Link in level 2</a></li>
    </ul>
</li>
</ul>